
<!-- Navbar (sit on top) -->
<div class=" w3-text-white" >
    <div class="w3-bar  w3-card-4" id="myNavbar"style="background-color:#191919">
        <a href="/" class="w3-bar-item w3-button" style="font-family: 'Pacifico', cursive;
        ">SPINNERS</a>

      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="/what-is-a-fidget-spinner/" class="w3-bar-item w3-button"><i class="fas fa-blog"></i> BLOG</a>
        <a href="{{ site.baseurl }}{% link spinner/products.md %}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRODUCTS</a>
        <a href="{{ site.baseurl }}{% link contact.md %}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  
  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="{{ site.baseurl }}{% link _posts/2019-05-05-what-are-they.md %}" onclick="w3_close()" class="w3-bar-item w3-button">BLOG</a>
    <a href="{{ site.baseurl }}{% link products.md %}" onclick="w3_close()" class="w3-bar-item w3-button">PRODUCTS</a>
    <a href="{{ site.baseurl }}{% link contact.md %}" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>
  
  <!-- Header with full-height image -->
