<!doctype html>
<html lang="en">
{% include wrapper.html %}

<body>
    {% include header.html %}
    <br>
    <div class="container">
        <div class="w3-row">
            <div class="w3-col l8">
                <!-- one post details -->
                <div class="w3-row w3-center">
                    <h2> {{page.title| upper}} </h2>

                    <p> <em>{{page.blog-preview}}</em></p>
                    <hr>
                    <p class=""> {{page.author}}</p>
                    <p class=""> {{page.date | date: "%A %-d %b %Y"}}</p>

                    <hr>
                    <div class="w3-display-center">
                        <img src="{{page.path-to-image}}" class="image">



                    </div>
                    <div class="w3-display-container">
                        {{page.content}}

                    </div>

                </div>
            </div>

            <!-- end one page details -->

            <!-- blog post headlines -->

            <div class="w3-col l4">
                {% for post in site.posts %}
                <div class="w3-row">
                    <div class="w3-card-4">

                        <header class="w3-container">
                            <h1>Header</h1>
                        </header>

                        <div class="w3-container">
                            <p>Lorem ipsum...</p>
                        </div>

                        <footer class="w3-container ">
                            <h5>Read More</h5>
                        </footer>

                    </div>
                </div>

                {% endfor %}

            </div>
        </div>

    </div>


</body>

</html>