<!doctype html>
<html lang="en">
{% include wrapper.html %}

<body>
    {% include header.html %}

    <div class="w3-row ">
        <br>
        <div class="container">
            <div class="w3-row w3-center">
                <h2>Contact US</h2>

                <p> <em>We would love to hear from you. Reach us through the information provided below.</em></p>
            </div>

            <br>
            <div class="w3-card-4 w3-white w3-padding w3-margin ">
                <header>
                    <h4><strong>Contact Information</strong></h4>
                    <hr>
                </header>
                <div class="w3-container w3-margin">

                    <p><i class="fas fa-at"></i> spinners@example.com</p>
                    <hr>
                    <p><i class="fas fa-map-marker-alt"></i> Nairobi </p>
                    <hr>
                    <p><i class="fas fa-phone"></i> +254 7 11 223 344</p>
                    <hr>
                </div>


            </div>

        </div>

    </div>
</body>
<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
</script>

</html>