<!doctype html>
<html lang="en">
{% include wrapper.html %}

<body>
    {% include header.html %}
    <br>
   
    <div class="container">
        <div class="w3-row w3-center">
            <h2>Products</h2>
      
            <p> <em>We have a variety of products that will definitely fancy you. Have a look and click on the button to order</em></p>
            </div>
         
          <br>
        <div class="w3-row-padding">
            {% for product in site.products %}
         

            <div class="w3-col l4 m6 s12">
                <div class="w3-card-2 w3-white w3-margin-bottom" style="max-height:400px;min-height:400px;">
                    <img src="{{product.path-to-image}}" style="max-width:150px;min-width:150px;max-height:150px;min-height:150px;display: block; margin-right: auto;margin-left:auto">
                    <div class="w3-container">
                            <p> <strong>{{product.name}}</strong></p>
                            <p>{{product.description}}</p>
                            <p>{{product.price}}</p>
                            <a href='..{{product.permalink}}'><button class="w3-btn w3-round-xxlarge w3-teal">Buy Now</button>
                            </a>
        
                        </div>
                </div>
             
            </div>

            {% endfor %}
        </div>

    </div>
</body>
<script>
        // Modal Image Gallery
        function onClick(element) {
          document.getElementById("img01").src = element.src;
          document.getElementById("modal01").style.display = "block";
          var captionText = document.getElementById("caption");
          captionText.innerHTML = element.alt;
        }
        
        
        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");
        
        function w3_open() {
          if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
          } else {
            mySidebar.style.display = 'block';
          }
        }
        
        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
        </script>
</html>